.popup__error {
  min-height: 30px;
  width: 100%;
  display: block;
  padding-top: 5px;
  font-size: 12px;
  line-height: 15px;
}

.popup__error:first-child {
  margin-bottom: 3px;
}

@media screen and (max-width:425px) {
  .popup__error {
    padding: 0;
    margin: 0;
  }
}
