.footer__author {
  color: #545454;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}

@media screen and (max-width: 576px) {
  .footer__author {
    margin-left: 20px;
    font-size: 14px;
    line-height: 1.21;
  }
}
