.profile__description {
  margin: 0;
  max-width: 400px;
  padding-top: 4px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .profile__description {
    max-width: 270px;
    font-size: 14px;
    line-height: 17px;
  }
}
