.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    padding-left: 15px;
  }
}

@media screen and (max-width: 576px) {
  .profile__info {
    align-items: center;
    padding-left: 0;
  }
}
